<link rel="stylesheet" tyle="text/css" href="/styles/game.css"></link>
<%- include("../_header") -%>

<h1>게임 1..</h1>

<button onclick="completeStage('01')">게임 완료</button>

<%- include("../_footer") -%>