<%- include("../_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/game.css"></link>
<div id="gameContainer"></div>
<button onclick="completeStage('01')">게임 완료</button>


<script src="/scripts/games/01.js"></script>
<%- include("../_footer") -%>

