<%- include("../_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/game.css"></link>

<main>
    <div id="game1" class="gameContainer"></div>
    
    <!--<button onclick="completeStage('01')">게임 완료</button>-->
</main>
<script type="module" src="/scripts/games/01.js"></script>


<%- include("../_footer") -%>
