<%- include("../_header") -%>
<%- include("../_game_nav") -%>
<link rel="stylesheet" type="text/css" href="/styles/game.css"></link>
<main>
    <div id="game2" class="gameContainer"></div>
</main>
<button onclick="completeStage('02')">게임 완료</button>
<script src="/scripts/pixi.js"></script>

<%- include("../_footer") -%>