<%- include("../_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/game.css"></link>
<main>
    <div id="game2" class="gameContainer"></div>
</main>
<!--<button onclick="completeStage('02')">게임 완료</button>-->
<script type="module" src="/scripts/games/02.js"></script>

<%- include("../_footer") -%>