<%- include("../_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/game.css"></link>
<script src="/scripts/games/02.js"></script>
<h1>게임 2..</h1>

<button onclick="completeStage('02')">게임 완료</button>

<%- include("../_footer") -%>