<%- include("../_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/game.css"></link>
<style>
    body {
  margin: 0;
    }
    #container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
    }
</style>
<main>
  <h1>게임 3..</h1>
  
  <span id="email"><%= locals.email %></span>
  <button onclick="completeStage('03')">게임 완료</button>
  <button id="capture">capture</button>
      <div id="container">
      </div>
</main>
<script src="/scripts/games/03.js"></script>
<%- include("../_footer") -%>