<nav>
    <a class="icon-button" href='/'><img src='/images/misc/home.svg' /></a>

    <div class="game-container">
        <% if (locals.url === '/game/01') { %>
            <div class='menu-button disabled'>level 1</div> 
        <% } else { %>
            <a class='menu-button' href='/game/01'>level 1</a> 
        <% } %>
        
        <% if (locals.url === '/game/02') { %>
            <div class='menu-button disabled'>level 2</div> 
        <% } else { %>
            <% if (locals.stage_01) { %>
                <a class='menu-button' href='/game/02'>level 2</a> 
            <% } else { %>
                <div class='menu-button'>level 2</div> 
            <% } %>
        <% } %>
        
        <% if (locals.url === '/game/03') { %>
            <div class='menu-button disabled' style='margin-right:0'>level 3</div> 
        <% } else { %>
            <% if (locals.stage_01 && locals.stage_02) { %>
                <a class='menu-button' href='/game/03'>level 3</a> 
            <% } else { %>
                <div class='menu-button'>level 3</div> 
            <% } %>
        <% } %>
    </div>
</nav>