<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
 <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title><%= locals.variables.title %></title>
  <script src="/scripts/common.js"></script>
  <script src="/scripts/actions.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@kfonts/neodgm/index.css" />
  <link rel="stylesheet" type="text/css" href="/styles/global.css"></link>
</head>

<body>
  <div id="container">


