<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= locals.variables.title %></title>
  <script src="/scripts/common.js"></script>
  <link rel="stylesheet" tyle="text/css" href="/styles/global.css"></link>
</head>

<body>
  <nav>
    <a href="/"><%= locals.variables.title %></a>
  </nav>
  <div class="container">


