<nav>
    <a class="icon-button" onclick="redirectWithSound('/sound/yes.mp3', '/')"><img src='/images/misc/home.svg' /></a>

    <div class="game-container">
        <div class='menu-button disabled'><%= locals.nav_title %></div> 
    </div>
</nav>