<nav>
    <a class="icon-button" href='/'><img src='/images/misc/home.svg' /></a>

    <div class="game-container">
        <div class='menu-button disabled'>튜토리얼 <%= locals.stageNo %></div> 
    </div>
</nav>