<link rel="stylesheet" type="text/css" href="/styles/auth.css"></link>

<body>
    <h3>스마트폰으로 QR 코드를 인식하면 <원클릭쓰리강냉이> 게임에 접속할 수 있습니다.<br/>Scan the QR code with your phone to access the game.</h3>
    <div id="qrcode"></div>
</body>

<script src="https://cdn.jsdelivr.net/npm/qrcanvas@3"></script>
<script>
    const canvas = qrcanvas.qrcanvas({
      data: "<%= locals.url %>",
      size: 320
    });
    document.getElementById('qrcode').appendChild(canvas);
    
    window.onload = () => {
        setTimeout(() => {
          location.reload();
        }, 60 * 1000);
   }
</script>