<link rel="stylesheet" tyle="text/css" href="/styles/dashboard.css"></link>
<%- include("_header") -%>

<a  href="/game/01">게임1</a>
<a  href="/game/02">게임2</a>
<a  href="/game/03">게임3</a>



<button>소식 받아보기</button>
<button>강냉이받기</button>

<form id="form" action="/user/logout" method="post">
    <input type="submit" value="로그아웃" /> 
</form>

<%- include("_footer") -%>