<%- include("_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/global.css"/>
<link rel="stylesheet" type="text/css" href="/styles/init.css"/>

<script>
    function handleScreenClick(e) {
        location='./register';
    }
</script>
<main onclick="handleScreenClick(event)">
    <div class="title-container">
        <img id="title" alt="원클릭 쓰리 강냉이" src="/images/misc/title.png"/>
        <img class="click" src="/images/misc/click.svg"/>
    </div>
    
</main>
<%- include("_footer") -%>