
<%- include("_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/signup.css"/>
<script>
    function submitForm(action){
        let form = document.getElementById("form");
        if (validateEmail()) {
            form.action = action;
            form.method = 'POST';
            form.submit();
        }
    }

    function validateEmail() {
        let email = document.getElementById("email");
        let regex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/g;
        if (email && email.value.match(regex)) {
            return true;
        } else {
            alert("이메일을 올바르게 입력해주세요.")
        }
    }
</script>
<h1>강냉이를 얻고싶다면..</h1>

<form id="form" method="post" onsubmit="submitForm('/user/login'); return false">
    <fieldset>
        <% if (locals.status) { %>
        <h3><%= locals.status.message %></h3>
        <% } %>

        <label for="email">이메일</label>
        <input 
            id="email"
            type="email" 
            name="email"
            maxlength="64"
            placeholder="username@example.org"
            autocomplete="email"
            required
        />
        <input type="button" onclick="submitForm('/user/login')" value="로그인" />
        <a href="/">새로 시작하기</a>
    </fieldset>
</form>

<%- include("_footer") -%>