<!doctype html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>옥수수밭</title>
        <script src="/scripts/common.js"></script>
        <link rel="stylesheet" type="text/css" href="/styles/global.css"></link>
        <link rel="stylesheet" type="text/css" href="/styles/photos.css"></link>
    </head>
    
    <body>
        <% if (locals.photos) { %>
        <% for (const photo of locals.photos) { %>
            <img class="ar_photo" src="https://labb-photos.s3.ap-northeast-2.amazonaws.com/<%= photo.key %>.png" />
        <% } %>
        <% } %>
    </body>
</html>