
<%- include("_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/signup.css"/>
<script>
    
    function submitForm(action){
        let form = document.getElementById("form");
        if (validateName() && validateEmail() && validateCheckbox() && validateLocation()) {
            form.action = action;
            form.method = 'POST';
            form.submit();
        }
    }

    function validateName() {
        let name = document.getElementById("name");
        if (name && name.value.trim() != "") {
            return true;
        } else {
            alert("닉네임을 입력해주세요.");
        }
    }

    function validateEmail() {
        let email = document.getElementById("email");
        let regex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/g;
        if (email && email.value.match(regex)) {
            return true;
        } else {
            alert("이메일을 올바르게 입력해주세요.");
        }
    }

    function validateCheckbox() {
        let checkbox = document.getElementById("checkbox");
        if (checkbox.checked) {
            return true;
        } else {
             alert("개인 정보 활용에 동의해주세요.");
        }
    }
    
    function validateLocation() {
        if (isNearby) {
            return true;
        } else {
            alert("국립현대미술관 내부에서 실행해주세요.");
        }
    }
    
    function handleLocationPopupClick() {
        if (isNearby) {
            hideAllPopup();
        } 
    }
    let isNearby;
    window.onload = async() => {
        isNearby = await isNearbyMuseum();
        if (!isNearby) {
            showPopup("location-popup");
        }
        
    }

</script>
<main>
    <img id="title" alt="원클릭 쓰리 강냉이" src="/images/title.png" />
    <form id="form" method="post" onsubmit="submitForm('/user/register'); return false">
        <fieldset>
            
            <label for="name">닉네임을 입력하세요</label>
            <input 
                id="name"
                class="text-input"
                type="text" 
                name="name" 
                maxlength="64"
                placeholder="닉네임"
                required
            />
            <label for="email">E-MAIL을 입력하세요</label>
            <input 
                id="email"
                class="text-input"
                type="email" 
                name="email"
                maxlength="64"
                placeholder="username@example.org"
                autocomplete="email"
                required
            />
            <label 
      
                class="checkbox-container" 
                for="checkbox"
            >
                전시 기간 동안 개인 정보 활용 및 위치 정보 수집에 동의합니다.
                <input 
                    id="checkbox"
                    type="checkbox"
                    name="personal-info-agreement"
                    required
                />
                <span class="checkmark"></span>
            </label>
            
            <input 
                type="button" 
                class="button" 
                onclick="submitForm('/user/register')" 
                value="시작"
            />
            
            <a class="guiding-text" href="/login">이전에 게임을 진행하셨었나요?<br/> -> 로그인 하러가기 -></a>
            
            <% if (locals.status && ["USER_EXPIRED", "USER_EXISTS"].includes(locals.status.type)) { %>
            <!-- <input type="button" onclick="submitForm('/user/login')" value="로그인" />            -->
            <% } %>
        </fieldset>
    </form>
    <div id="location-popup" class="popup" style="visibility:hidden">
        <p class="content">
            게임 <원클릭 쓰리강냉이>는
            국립현대미술관 서울관 내부에서만 플레이가 가능합니다.
            <br/>
            <br/>
            2023.11.2.-2024.4.2. 기간동안 
            ‘프로젝트 해시태그 2023’ 전시실에서 실행하세요.
            <br/>
            <br/>
            labB
        </p>
        <button onclick="handleLocationPopupClick()">확인</button>
    </div>
    
    <% if (locals.status) { %>
    <div id="error-popup" class="popup">
        <p class="content">
            <%= locals.status.message %>
        </p>
        <button onclick="handleLocationPopupClick()">확인</button>
    </div>
    <% } %>
</main>
<%- include("_footer") -%>