    body {
        margin: 0;
        background: rgb(162,255,255);
        background: -webkit-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
        background: -moz-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
        background: -o-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
        background: linear-gradient(to top, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
    }
    
    #container {
      width: 100vw;
      height: 100vh;
      position: relative;
      overflow: hidden;
    
    }
    
    .example-container {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
    .bottom-bar {
        position: fixed;
        height: 100px;
        width: 100%;
        background-color: #000000;
        
        bottom: 0;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bottom-bar button#capture {
        width: 70px;
        height: 70px;
        border-radius: 40px;
        background-color: #ffffff;
        box-shadow: none;
        border: none;
        
        outline: 4px solid #000000;
       outline-offset: -8px;
    }
    
    .bottom-bar button#capture:focus {
      background-color: #eeeeee;
    }
    
   .capture-loading {
      color: #d922ff;
      text-align: center;
      font-size: 24px;
     
      display: fixed;
      width: 100%;
      height: 100%;
     
      background: rgb(162,255,255);
      background: -webkit-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
      background: -moz-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
      background: -o-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
      background: linear-gradient(to top, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
      
      
   }
   
   .capture-loading .top-bar {
      position: fixed;
      height: 100px;
      width: 100%;
      background-color: #000000;
      
      top: 0;
      
      display: flex;
      align-items: center;
      justify-content: center;
   }
    