    body {
        margin: 0;
        background: rgb(162,255,255);
        background: -webkit-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
        background: -moz-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
        background: -o-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
        background: linear-gradient(to top, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
    }
    
    #container {
      width: 100vw;
      height: 100vh;
      position: relative;
      overflow: hidden;
    
    }
    
    .example-container {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
    .bottom-bar {
        position: fixed;
        height: 88px;
        width: 100%;
        background-color: #000000;
        
        bottom: 0;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bottom-bar button#capture {
        width: 64px;
        height: 64px;
        border-radius: 40px;
        background-color: #ffffff;
        box-shadow: none;
        border: none;
        
        outline: 4px solid #000000;
       outline-offset: -8px;
    }
    
    .bottom-bar button#capture:focus {
      background-color: #eeeeee;
    }
    
   #capture-loading {
      color: #d922ff;
      text-align: center;
      font-size: 24px;
     
      position: fixed;
      z-index: 9;
      width: 100%;
      height: 100%;
     
      display: none;
      
      background: rgb(162,255,255);
      background: -webkit-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
      background: -moz-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
      background: -o-linear-gradient(bottom, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
      background: linear-gradient(to top, rgba(162,255,255,1) 0%, rgba(255,168,255,1) 100%);
   }
   
   #capture-loading .background {
      width: 100%;
      height: 100%;
     
      background-image: url('/images/pattern/corn_background@2x.png');
      background-repeat: repeat;
      background-size: 65%;
      
      animation-name: pan;
      animation-duration: 20s;
      animation-iteration-count: infinite;
   }
   
  #capture-loading .top-bar {
      position: fixed;
      height: 88px;
      width: 100%;
      background-color: #000000;
      
      top: 0;
      
      display: flex;
      align-items: center;
      justify-content: center;
  }
    
    
  @keyframes pan {
    0% {
      background-position-x: 0%;
      background-position-y: 0%;
    }
    50% {
      background-position-x: 100%;
      background-position-y: 100%;
    }
    100% {
      background-position-x: 0%;
      background-position-y: 0%;
    }
  }