* {
    margin:0; 
    padding:0;
    font-family: "Neo둥근모", "neodgm", sans-serif;
    line-height: 1.3;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    word-break: keep-all;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 32px;
    padding: 32px 32px;
    background-color: #000000;
    color: #ffffff;
    
    display: block;
    width: 100%;
    text-align: center;
}

#qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}