
body {
    overflow: hidden;
    height: 0;
    
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(150,224,218);
    background: -webkit-linear-gradient(bottom, rgba(150,224,218,1) 0%, rgba(106,147,240,1) 100%);
    background: -moz-linear-gradient(bottom, rgba(150,224,218,1) 0%, rgba(106,147,240,1) 100%);
    background: -o-linear-gradient(bottom, rgba(150,224,218,1) 0%, rgba(106,147,240,1) 100%);
    background: linear-gradient(to top, rgba(150,224,218,1) 0%, rgba(106,147,240,1) 100%);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home {
    width: 100%;
    height: 100%;
    bottom:0;
    background-image: url("/images/misc/cornfield.png");
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#cloud {
    width: 100%;
    height: 100%;
    bottom:0;
    background-image: url("/images/misc/cloud.png");
    position: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

#scarecrow {
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 65%;
    max-width:320px;
    
}

input {
  all: unset;
}

.bottom-container {
    position: fixed;
    bottom: 32px;
    left: 0;
    
    display: flex;
    flex-direction: column;
}

.menu-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
}

.menu-container .button {
    background-color: var(--blue-dark);
    font-size: 16px;
}

.menu-container .button:hover {
    background-color: var(--blue-dark);
}

.levels-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
}

.reward-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: fixed;
    top: 48px;
}

.title-container {
    background-color: var(--blue-dark);
    border-radius: 128px;
    padding: 12px;
    
    width: 128px;
    position: fixed;
    top: 48px;
}

img.corn-coin {
    width: 128px;
    height: auto;
}

img.title {
    width: 100%;
    height: auto;
}

.button {
    padding: 8px 16px;
    margin-bottom: 12px;
    /*min-width: 120px;*/
    
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    border-radius: 32px;
    
    text-decoration: none;
    text-align: center;
    
    border: none;
    box-shadow: none;
}

.button.completed {
    text-decoration-line: line-through;
}

.button.disabled {
    background-color: #333333;
}

.button:hover {
    background-color: #333333;
}