
body {
    overflow: hidden;
    height: 0;
    
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(126,206,244);
    background: -webkit-linear-gradient(rgba(126,206,244,1) 0%, rgba(235,255,253,1) 100%);
    background: -moz-linear-gradient(rgba(126,206,244,1) 0%, rgba(235,255,253,1) 100%);
    background: -o-linear-gradient(rgba(126,206,244,1) 0%, rgba(235,255,253,1) 100%);
    background: linear-gradient(rgba(126,206,244,1) 0%, rgba(235,255,253,1) 100%);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home {
    width: 100%;
    height: 100%;
    bottom:0;
    background-image: url("/images/misc/cornfield.png");
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#cloud {
    width: 100%;
    height: 100%;
    bottom:0;
    background-image: url("/images/misc/cloud.png");
    position: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

#scarecrow {
    position: fixed;
    bottom: 0;
    right: 10%;
    width: 55%;
    max-width:320px;
    
}

input {
  all: unset;
}

.bottom-container {
    position: fixed;
    bottom: 8px;
    left: 0;
    
    display: flex;
    flex-direction: column;
}

.menu-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
}

.menu-container .button {
    background-color: var(--blue-dark);
    font-size: 16px;
}

.menu-container .button:hover {
    background-color: var(--blue-dark);
}

.levels-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
}

.reward-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: fixed;
    top: 72px;
    
    border-radius: 24px;
}

.title-container {
    background-color: var(--blue-dark);
    border-radius: 128px;
    padding: 12px;
    
    width: 128px;
    height: 128px;
    position: fixed;
    top: 72px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img.corn-coin {
    width: 128px;
    height: auto;
}

img.title {
    width: 96%;
    height: auto;
}

.button {
    padding: 8px 16px;
    margin-bottom: 12px;
    /*min-width: 120px;*/
    
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    border-radius: 32px;
    
    text-decoration: none;
    text-align: center;
    
    border: none;
    box-shadow: none;
}

.button.completed {
    position: relative;
}

.button.completed:after {
    content: '';
    position: absolute;
    right: 0px;
    top: -13px;
    width: 15px;
    height: 40px;
    background-image: url('/images/misc/minicoin.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.button.disabled {
    background-color: #333333;
}

.button:hover {
    background-color: #333333;
}