
html{
    margin:0;
    padding:0;
  
    background-image:url("/images/sprites/bg750x1200.png");
  width:100vw;
  height:100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}


  
body{
  
/* background:linear-gradient(to bottom,#a8ebff,#fffbb7,#ffe5b7,#f2ffb7);*/
 margin:0;
 padding:0;
 height:100vh;
 display:flex;
 align-items:center;
 justify-content:center;
 
}


button {
    position:absolute;
    top:10px;
    right:10px;
    z-index:10;
}

@media (orientation :landscape){
   html {
        /* Rotate the content container */
        transform: rotate(-90deg);
        transform-origin: left top;
        /* Set content width to viewport height */
        width: 100vh;
        /* Set content height to viewport width */
        height: 100vw;
        
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
      }
}