
html{
    margin:0;
    padding:0;
 
    background: rgb(188,226,234);
    background: -webkit-linear-gradient(rgba(188,226,234,1) 5%, rgba(255,251,205,1) 39%, rgba(252,226,195,1) 47%, rgba(254,234,205,1) 71%, rgba(221,235,194,1) 100%);
    background: -moz-linear-gradient(rgba(188,226,234,1) 5%, rgba(255,251,205,1) 39%, rgba(252,226,195,1) 47%, rgba(254,234,205,1) 71%, rgba(221,235,194,1) 100%);
    background: -o-linear-gradient(rgba(188,226,234,1) 5%, rgba(255,251,205,1) 39%, rgba(252,226,195,1) 47%, rgba(254,234,205,1) 71%, rgba(221,235,194,1) 100%);
    background: linear-gradient(rgba(188,226,234,1) 5%, rgba(255,251,205,1) 39%, rgba(252,226,195,1) 47%, rgba(254,234,205,1) 71%, rgba(221,235,194,1) 100%);
    width:100vw;
    height:100vh;
    
}


  
body{
 margin:0;
 padding:0;
 height:100vh;
 display:flex;
 align-items:center;
 justify-content:center;
 
}

#container {
    overflow: hidden;
}

@media (orientation :landscape){
  html {
    /* Rotate the content container */
    transform: rotate(-90deg);
    transform-origin: left top;
    /* Set content width to viewport height */
    width: 100vh;
    /* Set content height to viewport width */
    height: 100vw;
    
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
