/*
html{
    margin:0;
    padding:0;
  
    background-image:url("/images/sprites/soil_plain@4x.png");
  width:100vw;
  height:100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}


 Media query for landscape mode
@media screen and (orientation: landscape) {
    
    html {
        background-image: url("/images/sprites/BG_01_750x1200_LANDSCAPE.png");
    }
} */
html,body{
    margin:0;
    padding:0;
    overflow:hidden;
}

body{
  background-color: yellowgreen;    
}

#gameContainer{
    display:block;
}
button {
    position:absolute;
    top:10px;
    right:10px;
    z-index:10;
}
