
html{
    margin:0;
    padding:0;
 
    background: rgb(188,226,234);
    background: -webkit-linear-gradient(rgba(188,226,234,1) 5%, rgba(255,251,205,1) 39%, rgba(252,226,195,1) 47%, rgba(254,234,205,1) 71%, rgba(221,235,194,1) 100%);
    background: -moz-linear-gradient(rgba(188,226,234,1) 5%, rgba(255,251,205,1) 39%, rgba(252,226,195,1) 47%, rgba(254,234,205,1) 71%, rgba(221,235,194,1) 100%);
    background: -o-linear-gradient(rgba(188,226,234,1) 5%, rgba(255,251,205,1) 39%, rgba(252,226,195,1) 47%, rgba(254,234,205,1) 71%, rgba(221,235,194,1) 100%);
    background: linear-gradient(rgba(188,226,234,1) 5%, rgba(255,251,205,1) 39%, rgba(252,226,195,1) 47%, rgba(254,234,205,1) 71%, rgba(221,235,194,1) 100%);
    width:100vw;
    height:100vh;
    
}


  
body{
 margin:0;
 padding:0;
 height:100vh;
 display:flex;
 align-items:center;
 justify-content:center;
 
}


/*button {*/
/*    position:absolute;*/
/*    top:10px;*/
/*    right:10px;*/
/*    z-index:10;*/
/*}*/

@media (orientation :landscape){
   html {
        /* Rotate the content container */
        transform: rotate(-90deg);
        transform-origin: left top;
        /* Set content width to viewport height */
        width: 100vh;
        /* Set content height to viewport width */
        height: 100vw;
        
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
      }
}