:root {
  --blue-dark: #3333cc;
  --blue-light: #e1e8f5;
}

* {
    margin:0; 
    padding:0;
    overflow: hidden; 
    font-family: "Neo둥근모", "neodgm", sans-serif;
    line-height: 1.3;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 16px;
}

nav {
    position: absolute;
}

footer {
    position: absolute;
    bottom: 0;
}