:root {
  --blue-dark: #763BFF;
  --blue-gray: #818594;
  --blue-light: #e1e8f5;
  --white: #ffffff;
  --black: #000000;
  --shadow: rgba(124,124,153,0.3);
  --popup-shadow: rgba(0,0,0,0.7);
  
}

* {
    margin:0; 
    padding:0;
    font-family: "Neo둥근모", "neodgm", sans-serif;
    line-height: 1.3;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    word-break: keep-all;
}

#container {
    overflow: scroll;
    padding-bottom: 64px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index:9;
    
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 8px;
    
}

nav .game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .menu-button {
    background-color: var(--blue-light) !important;
    color: var(--blue-gray);
    
    padding: 8px 16px;
    text-decoration: none;
    
    font-size: 16px;
    
    border-radius: 32px;
    box-shadow: 2px 2px 2px 0px var(--shadow);
    -webkit-box-shadow: 2px 2px 2px 0px var(--shadow);
    -moz-box-shadow: 2px 2px 2px 0px var(--shadow);
    
    white-space: nowrap;
}

nav .menu-button.disabled {
    background-color: var(--black);
    color: var(--white);
}

nav .icon-button {
    background-color: var(--blue-light);
    color: var(--blue-gray);
    
    padding: 8px;
    
    display: flex;
    align-items: center;
    justify-contenr: center;
    
    position: relative;
    
    border-radius: 32px;
    box-shadow: 2px 2px 2px 0px var(--shadow);
    -webkit-box-shadow: 2px 2px 2px 0px var(--shadow);
    -moz-box-shadow: 2px 2px 2px 0px var(--shadow);
}

nav .icon-button img {
    width: 20px;
    position: relative;
    top: -2px;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 4px;
    
    font-size: 10px;
    
    opacity: 0.5;
}

.popup {
    position: fixed;
    background-color: var(--blue-light);
    width: 80vw;
    max-width: 400px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 24px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 0px 0px 100vh --popup-shadow;
    -webkit-box-shadow: 0px 0px 0px 100vh --popup-shadow;
    -moz-box-shadow: 0px 0px 0px 100vh --popup-shadow;
    
    pointerEvents: auto;
    overflow: hidden;
}

.popup h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    padding: 20px 16px;
    text-align: center;
    width: 100%;
}

.popup .content {
    padding: 24px;
    text-align: center;
    max-height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}

.popup .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1px;
}

.popup button {
    background-color: var(--black);
    color: var(--white);
    font-size: 24px;
    
    flex: 1;
    width: 100%;
    padding: 16px;
    
    border: none;
    box-shadow: none;
    
    cursor: pointer;
}


.language-button {
    position: fixed;
    top: 16px;
    
    background-color: var(--blue-light);
    opacity: 0.9;
    color: var(--black);
    
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    
    font-size: 18px;
    
    border-radius: 32px;
    box-shadow: 2px 2px 2px 0px var(--shadow);
    -webkit-box-shadow: 2px 2px 2px 0px var(--shadow);
    -moz-box-shadow: 2px 2px 2px 0px var(--shadow);
    
    white-space: nowrap;
}