:root {
  --blue-dark: #3333cc;
  --blue-light: #e1e8f5;
}

* {
    margin:0; 
    padding:0;
    overflow: hidden; 
    font-family: "Neo둥근모", "neodgm", sans-serif;
    line-height: 1.3;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    word-break: keep-all;
}

#container {
    overflow: scroll;
    padding-bottom: 128px;
}

nav {
    position: absolute;
}

footer {
    position: absolute;
    bottom: 0;
}

.popup {
    position: fixed;
    background-color: var(--blue-light);
    width: 80vw;
    max-width: 400px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 24px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 0px 0px 100vh rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 0px 100vh rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 0px 100vh rgba(0,0,0,0.5);
    
    pointerEvents: auto;
}

.popup h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    padding: 20px 16px;
    text-align: center;
    width: 100%;
}

.popup .content {
    padding: 24px;
    text-align: center;
    max-height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}

.popup .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1px;
}

.popup button {
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
    
    flex: 1;
    width: 100%;
    padding: 16px;
    
    border: none;
    box-shadow: none;
    
    cursor: pointer;
}
