body {
    background-color: var(--blue-dark);
}

#container {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/misc/corn_background.png');
    background-repeat: repeat;
    background-size: 65%;
      
    animation-name: pan;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 360px;
}

img#title {
    width: 100%;
    height: auto;
}

img.click {
    position: absolute;
    bottom: -24px;
    right: -24px;
    
    width: 88px;
}

@keyframes pan {
    0% {
      background-position-x: 0%;
      background-position-y: 0%;
    }
    50% {
      background-position-x: 100%;
      background-position-y: 100%;
    }
    100% {
      background-position-x: 0%;
      background-position-y: 0%;
    }
}