body {
    background-color: var(--blue-dark);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img#title {
    width: 80%;
    max-width:400px;
}