body {
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255);
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(51,51,204,1) 100%);
    background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(51,51,204,1) 100%);
    background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(51,51,204,1) 100%);
    background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(51,51,204,1) 100%);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    padding: 64px 0;
}

h3 {
    color: #ffffff;
    font-size: 32px;
}

img.coin {
    width: 50%;
}

p {
    padding: 24px 0;
    fon-size: 16px;
}

#container button {
    background-color: #000000;
    color: #ffffff;
    padding: 8px 24px;
    border: none;
    box-shadow: none;
    border-radius: 32px;
    
    font-size: 22px;
}

#container .button-disabled {
    background-color: #333333;
    color: #ffffff;
    padding: 8px 24px;
    border: none;
    box-shadow: none;
    border-radius: 32px;
    
    font-size: 22px;
}