body {
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255);
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(118,59,255,1) 100%);
    background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(118,59,255,1) 100%);
    background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(118,59,255,1) 100%);
    background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(118,59,255,1) 100%);
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100vh;
    max-height: 1020px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    padding: 64px 0;
    overflow: hidden;
}

h3 {
    position: fixed;
    top: 8vh;
    left: 0;
    right: 0;
    color: #ffffff;
    font-size: max(8vw, 32px);
    z-index:9;
}

img.coin {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.coin.expired {
    filter: grayscale(1);
}

p.description {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5vh;
    padding: 24px 16px;
    font-size: max(3.4vw, 18px);
}

#container button {
    background-color: #000000;
    color: #ffffff;
    padding: 8px 24px;
    border: none;
    box-shadow: none;
    border-radius: 32px;
    
    font-size: max(3.3vw, 22px);
}

#container .button-disabled {
    background-color: #333333;
    color: #ffffff;
    padding: 8px 24px;
    border: none;
    box-shadow: none;
    border-radius: 32px;
    
    font-size: max(3.3vw, 22px);
}