body {
    background: rgb(255,255,255);
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(118,59,255,1) 100%);
    background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(118,59,255,1) 100%);
    background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(118,59,255,1) 100%);
    background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(118,59,255,1) 100%);
    
    height: 100vh;
}

main {
    width: 100vw;
    max-width: 720px;
    padding: 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img#title {
    width: 100px;
    height: auto;
    margin: 56px 0 24px 0;
}

.warning-message {
    text-align: center;
    background-color: #ff0000;
    padding:24px;
    color: #ffffff;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: none;
}

form {
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    
    padding: 8px;
}

label { 
    font-size: 20px;
    color: #ffffff;
    
    margin: 0 24px;
}

input.text-input {
    border-radius: 32px;
    margin: 8px 0 16px 0;
    padding: 8px 24px;
    
    font-size: 20px;
    
    border: none;
    box-shadow: none;
    
    background-color: var(--blue-light);
    
    box-shadow: 4px 4px 6px 0px rgba(124,124,153,0.3) inset;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(124,124,153,0.3) inset;
    -moz-box-shadow: 4px 4px 6px 0px rgba(124,124,153,0.3) inset;
}

input.text-input::focus {
    border: none;
}

input.button {
    width: fit-content;
    align-self: center;
    margin: 16px 0;
    padding: 8px 64px;
    border-radius: 32px;
    font-size: 26px;
    
    border: none;
    box-shadow: none;
    
    background-color: #000000;
    color: #ffffff;
    
    cursor: pointer;
    
    box-shadow: 4px 2px 6px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 4px 2px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 2px 6px 0px rgba(0,0,0,0.2);
}

input.button:hover, input.button:focus {
    background-color: #333333;
}

.guiding-text {
    color: var(--blue-dark);
    text-align: center;
    text-underline-offset: 6px;
    overflow: visible;
    font-size: 16px;
    white-space: pre;
}

.guiding-text:hover, .guiding-text:focus {
    text-decoration: none;
}


/* checkbox style */

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  color: var(--blue-dark);
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: visible;
}


/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer; 
    top: 0;
    left: 0;
    z-index: 9;
    width: 24px;
    height: 24px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 16px;
  background-color: var(--blue-light);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--blue-dark);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}