<%- include("../_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/init.css"/>
<script>
    function handleScreenClick(event) {
        const params = new Proxy(new URLSearchParams(window.location.search), {
          get: (searchParams, prop) => searchParams.get(prop),
        });
        let token = params.token; 
        
        let yesSound = new Howl({
            src: ['/sound/yes.mp3'],
            onend: () => {
                location=`./register?token=${token}`;
            }
        });
        yesSound.play();
        
    }
</script>
<main onclick="handleScreenClick(event)">
    <div class="title-container">
        <img id="title" alt="원클릭 쓰리 강냉이" src="/images/misc/title.png"/>
        <img class="click" src="/images/misc/click.svg"/>
    </div>
</main>
<%- include("../_footer") -%>