
<%- include("../_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/signup.css"/>
<script>

    const token = '<%= locals.token %>';
    if (token != '') {
        window.history.replaceState(null, null, `${window.location.pathname}?token=${token}`);
    }
    
    
    function submitForm(action){
        let form = document.getElementById("form");
        if (validateEmail()) {
            form.action = action;
            form.method = 'POST';
            form.submit();
        }
    }

    function validateEmail() {
        let email = document.getElementById("email");
        let regex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/g;
        if (email && email.value.match(regex)) {
            return true;
        } else {
            alert("이메일을 올바르게 입력해주세요.")
        }
    }
    
    function redirectToSignup(event) {
        const params = new Proxy(new URLSearchParams(window.location.search), {
          get: (searchParams, prop) => searchParams.get(prop),
        });
        let token = params.token; 
        
        location=`/register/?token=${token}`;
    }
</script>
<main>
    <img id="title" alt="원클릭 쓰리 강냉이" src="/images/misc/title.png" />
    <form id="form" method="post" onsubmit="submitForm('/user/login'); return false">
        <fieldset>
            <label for="email">E-MAIL을 입력하세요</label>
            <input 
                id="email"
                class="text-input"
                type="email" 
                name="email"
                maxlength="64"
                placeholder="username@example.org"
                autocomplete="email"
                required
            />
            <input 
                type="button" 
                class="button" 
                onclick="submitForm('/user/login')" 
                value="로그인" 
            />
            <a class="guiding-text" onclick="redirectToSignup(event)">새로 시작하기</a>
        </fieldset>
    </form>

    <% if (locals.status) { %>
    <div id="error-popup" class="popup">
        <p class="content">
            <%= locals.status.message %>
        </p>
        <div class="button-container">
            <button onclick="hideAllPopup()">확인</button>
        </div>
    </div>
    <% } %>
</main>

<%- include("../_footer") -%>