
<%- include("../_header") -%>
<link rel="stylesheet" type="text/css" href="/styles/signup.css"/>
<script>
    
    const token = '<%= locals.token %>';
    if (token != '') {
        window.history.replaceState(null, null, `${window.location.pathname}?token=${token}`);
    }
    
    function submitForm(action){
        let form = document.getElementById("form");
        if (validateName() && validateEmail() && validateCheckbox()) {
            let startSound = new Howl({
                src: ['/sound/levelStart.mp3'],
                onend: () => {
                    form.action = action;
                    form.method = 'POST';
                    form.submit();
                }
            });
            startSound.play();
        }
    }

    function validateName() {
        let name = document.getElementById("name");
        if (name && name.value.trim() != "") {
            return true;
        } else {
            alert("닉네임을 입력해주세요.");
        }
    }

    function validateEmail() {
        let email = document.getElementById("email");
        let regex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/g;
        if (email && email.value.match(regex)) {
            return true;
        } else {
            alert("이메일을 올바르게 입력해주세요.");
        }
    }

    function validateCheckbox() {
        let checkbox = document.getElementById("checkbox");
        if (checkbox.checked) {
            return true;
        } else {
             alert("개인 정보 활용에 동의해주세요.");
        }
    }
    
    function redirectToLogin(event) {
        const params = new Proxy(new URLSearchParams(window.location.search), {
          get: (searchParams, prop) => searchParams.get(prop),
        });
        let token = params.token; 
        
        let yesSound = new Howl({
            src: ['/sound/yes.mp3'],
            onend: () => {
                location=`/login?token=${token}`;
            }
        });
        yesSound.play();
    }
    
    function handlePopupClick() {
        let yesSound = new Howl({src: ['/sound/yes.mp3']});
        yesSound.play();
        hideAllPopup();
    }
</script>
<main>
    <img id="title" alt="원클릭 쓰리 강냉이" src="/images/misc/title.png" />
    <form id="form" method="post" onsubmit="submitForm('/user/register'); return false">
        <fieldset>
            
            <label for="name">닉네임을 입력하세요</label>
            <input 
                id="name"
                class="text-input"
                type="text" 
                name="name" 
                maxlength="64"
                placeholder="닉네임"
                required
            />
            <label for="email">E-MAIL을 입력하세요</label>
            <input 
                id="email"
                class="text-input"
                type="email" 
                name="email"
                maxlength="64"
                placeholder="username@example.org"
                autocomplete="email"
                required
            />
            <label 
      
                class="checkbox-container" 
                for="checkbox"
            >
                전시 기간 동안 개인 정보 활용에 동의합니다.
                <input 
                    id="checkbox"
                    type="checkbox"
                    name="personal-info-agreement"
                    required
                />
                <span class="checkmark"></span>
            </label>
            
            <input 
                type="button" 
                class="button" 
                onclick="submitForm('/user/register')" 
                value="시작"
            />
            
            <a class="guiding-text" onclick="redirectToLogin(event)">이전에 게임을 진행하셨었나요?<br/> -> 로그인 하러가기 -></a>
            
            <% if (locals.status && ["USER_EXPIRED", "USER_EXISTS"].includes(locals.status.type)) { %>
            <!-- <input type="button" onclick="submitForm('/user/login')" value="로그인" />            -->
            <% } %>
        </fieldset>
    </form>

    <% if (locals.status) { %>
    <div id="error-popup" class="popup">
        <p class="content">
            <%= locals.status.message %>
        </p>
        <div class="button-container">
            <button onclick="handlePopupClick()">확인</button>
        </div>
    </div>
    <% } %>
</main>
<%- include("../_footer") -%>